body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
}

h1, h2 {
    font-size: 1.25rem;
}

#app {
    background: linear-gradient(70deg, rgba(24, 26, 33, 1) 0%, rgba(36, 38, 46, 1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#sidebar {
    width: 25%;
    height: 100%;
    background-color: #2d2e37;
    color: white;
    display: flex;
    flex-direction: column;
}

#channel-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6%;
    background-color: #2d2e37;
}

#channel-title h2 {
    margin-left: 3rem;
}

#channel-list {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#channel-list li button {
    border: none;
    background: transparent;
    color: white;
}

#channel-list li button:hover {
    background-color: #3a3b45;
}

#message-form {
    display: flex;
    width: 65%;
    margin-bottom: 1.5rem;
}

#message-form > input {
    margin-inline: 0.25rem;
    background-color: #2b2c33;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
}

#message-form > input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#message-form #message-input {
    width: 50%;
}

#channel-messages {
    height: 93vh;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    align-items: flex-end;
    padding-inline: 4rem;
    padding-bottom: 2rem;
}

#channel-messages ul {
    display: flex;
    flex-direction: column-reverse;
}

#channel-messages li {
    color: white;
}

#chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

button#send-button {
    padding: 0.5rem 1rem;
    border: none;
    margin-inline: 0.25rem; 
}